* {
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p {
    color: rgba(0, 0, 0,0.6);
    font-size: 17px;
}
body {
    display: block;
    margin: 8px;
    border-bottom: 3px solid rgba(0, 0, 0,0.7);
}
h2 {
    font-size: 28px;
    margin: 25px 35%;
}
img {
    margin: 0 26%;
}
main {
    margin: 20px 35%;
    align-items: center;
}
iframe {
        margin: 0 35%;
}
.last {
    margin: 20px 35%;
}